.wrapper {
    width: 100%;
    float: right;
    margin-bottom: 30px;
    padding: 10px 0;
    border-bottom: #ffa500 solid 2px;
}

.searchH3 {
    text-align: center;
}

.searchInput {
    margin: 0 auto;
    width: auto;
    text-align:center;
}

.error {
    margin: 3px 0;
    display: block;
    color: black;
    width: 100%;
    text-align: center;
    font-size: small;
}

